<!-- <div  [ngClass]="[ isKeyBoardActive ? 'scroll-sec' : '']">
</div> -->
<div class="bg-video-wrap">
  <img class="all-page-bg" src="assets/images/bg-all-page.jpg" />
  <div class="overlay"></div>

  <div class="main-div">
    <div class="container-fluid">
      <form [formGroup]="emailForm">
        <div class="row">
          <div class="col-auto mr-auto">
            <div class="logo-bg">
              <img src="assets/images/MegaLogo.png" />
            </div>
          </div>
          <app-language></app-language>
        </div>

        <div class="row">
          <div class="col mx-auto mt-2 text-center">
            <h1 class="selphoto">{{ "TITLE.CONFIRM-EMAIL" | translate }}</h1>

            <div class="popup mx-auto">
              <img
                class="img-fluid email-img"
                src="assets/images/confirm-your-email.png"
              />
              <input
                kioskKeyBoardInput
                type="text"
                autofocus
                id="text"
                class="form-control form-control-sm text-center my-4 input-size"
                placeholder="abcd@mega.com"
                #inputText
                (input)="keyBoardData(inputText.value, 'searchTextCtrl')"
                formControlName="searchTextCtrl"
                (sendKeyDataToInputField)="getKeyDataInInputField($event)"
                name="searchTextCtrl"
                formControlName="searchTextCtrl"
                [ngClass]="{ 'is-invalid': f.searchTextCtrl.touched && f.searchTextCtrl.errors && f.searchTextCtrl.invalid }"
              />

              <div *ngIf="f.searchTextCtrl.invalid && f.searchTextCtrl.errors && f.searchTextCtrl.touched"
                                class="invalid-feedback space-y">
                                <div *ngIf="f.searchTextCtrl.errors.required">*{{ "TITLE.Email_Is_Required" | translate }}</div>

                                <div *ngIf="f.searchTextCtrl.errors.pattern">
                                  {{ "TITLE.Enter_Valid_Email" | translate }}
                                </div>
                            </div>


              <p class="heading2">{{ "TITLE.PLEASEENTER" | translate }}</p>
            </div>
          </div>
        </div>

        <div class="back-next-btn">
          <button type="button" routerLink="/welcome" class="btn btn-cancel">
            {{ "TITLE.CANCEL" | translate }}
          </button>
          <button
            type="button"
            routerLink="/select-photo"
            class="btn btn-outline-white"
          >
            {{ "TITLE.BACK" | translate }}
          </button>
          <!-- routerLink="/select-photo/payment" -->
          <button type="submit" [disabled]="!emailForm.valid" (click)="submit()" class="btn btn-info">
            {{ "TITLE.CHECKOUT" | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
