<div class="bg-video-wrap">
    <img class="all-page-bg" src="assets/images/bg-all-page.jpg" />
    <div class="overlay"></div>
  
    <div class="main-div">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="logo text-center">
                        <img class="img-fluid" src="../../../../assets/images/white-MegaLogo.png"> 
                    </div>
                </div>
                
            </div>



            <div class="row">
                <div class="col mx-auto mt-4 text-center">
                    <div class="popup mx-auto">
                        <h2 class="whattodo text-center">{{'TITLE.TERMSANDCON' | translate }}</h2>
                        <div class="text-overflow">
                          <p class="heading2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1"> {{'TITLE.IAGREE' | translate }}</label>
                          </div>

                         
  
                    </div>                   
                </div>
            </div>



        </div>
    </div>
  </div>            
  
  
