<div class="bg-video-wrap photo-not-avialable">
    <div class="main-div">
        <div class="container-fluid">
           
         
            <!-- Printing… -->
              <div class="row">
                <div class="col mx-auto my-2 text-center">
                    <div class="popup mx-auto">
                        <div class="image-and-logo">
                            <div class="logo">
                                <img class="img-fluid" src="../../../../assets/images/white-MegaLogo.png"> 
                            </div>
                            <img class="img-fluid" src="../../../../assets/images/photo-not-avialable.png"> 
                        </div>
                        <h2 class="heading-1">{{'TITLE.Oops' | translate }} !</h2>
                        <div class="line"></div>
                        <p class="heading2">{{'TITLE.THE_REQUESTED' | translate }}</p>                      
                    </div>                   
                </div>
            </div>




           
    
    
    
          </div>
      </div>
    </div>           