<div class="bg-video-wrap">
  <img class="all-page-bg" src="assets/images/bg-all-page.jpg" />
  <div class="overlay"></div>

  <div class="main-div">
      <div class="container-fluid">
          <div class="row">
              <div class="col-auto mr-auto">
                  <div class="logo-bg">
                      <img src="assets/images/MegaLogo.png" />
                  </div>
              </div>
              <app-language></app-language>
          </div>




         <!-- Take a Selfie -->
            <!-- <div class="row">
                <div class="col mx-auto mt-5 text-center">
                    <div class="photo-div mx-auto">
                      <div class="photo-pos">
                        <p class="photo-text">Smile for the<br/>Camera ;)</p>
                        <button type="button" class="btn round-btn">
                          <img src="assets/images/camra.png" width="35">
                        </button>
                        
                      </div>
                        <img class="img-photo" src="assets/images/photo.PNG">
                    </div>
                </div>
            </div> -->



             <!-- Select your photos -->
            <!-- <div class="row">
                <div class="col mx-auto mt-2 text-center">

                     <h1 class="selphoto">{{'TITLE.SYP' | translate }}</h1>
                      <div class="row">

                        <div class="col-6">
                          <div class="card photo-card">
                            <div class="card-header">
                              <button type="button" class="btn btn-link"><input type="checkbox" class="" id="exampleCheck1"></button>
                              <button type="button" class="btn btn-link"><img class="img-photo" src="assets/images/icon4.png"></button>
                              <button type="button" class="btn btn-link"><img class="img-photo" src="assets/images/icon3.png"></button>
                              <button type="button" class="btn btn-link"><img class="img-photo" src="assets/images/icon2.png"></button>
                              <button type="button" class="btn btn-link"><img class="img-photo" src="assets/images/icon1.png"></button>
                              </div>
                            <div class="card-body">
                              <img class="img-photo" src="assets/images/photo.PNG">
                            </div>
                          </div>
                        </div>

                        <div class="col-6">
                          <div class="card photo-card">
                            <div class="card-header">
                              <button type="button" class="btn btn-link"><input type="checkbox" class="" id="exampleCheck1"></button>
                              <button type="button" class="btn btn-link"><img class="img-photo" src="assets/images/icon4.png"></button>
                              <button type="button" class="btn btn-link"><img class="img-photo" src="assets/images/icon3.png"></button>
                              <button type="button" class="btn btn-link"><img class="img-photo" src="assets/images/icon2.png"></button>
                              <button type="button" class="btn btn-link"><img class="img-photo" src="assets/images/icon1.png"></button>
                              </div>
                            <div class="card-body">
                              <img class="img-photo" src="assets/images/photo.PNG">
                            </div>
                          </div>
                        </div>

                        <div class="col-6">
                          <div class="card photo-card">
                            <div class="card-header">
                              <button type="button" class="btn btn-link"><input type="checkbox" class="" id="exampleCheck1"></button>
                              <button type="button" class="btn btn-link"><img class="img-photo" src="assets/images/icon4.png"></button>
                              <button type="button" class="btn btn-link"><img class="img-photo" src="assets/images/icon3.png"></button>
                              <button type="button" class="btn btn-link"><img class="img-photo" src="assets/images/icon2.png"></button>
                              <button type="button" class="btn btn-link"><img class="img-photo" src="assets/images/icon1.png"></button>
                              </div>
                            <div class="card-body">
                              <img class="img-photo" src="assets/images/photo.PNG">
                            </div>
                          </div>
                        </div>

                        <div class="col-6">
                          <div class="card photo-card">
                            <div class="card-header">
                              <button type="button" class="btn btn-link"><input type="checkbox" class="" id="exampleCheck1"></button>
                              <button type="button" class="btn btn-link"><img class="img-photo" src="assets/images/icon4.png"></button>
                              <button type="button" class="btn btn-link"><img class="img-photo" src="assets/images/icon3.png"></button>
                              <button type="button" class="btn btn-link"><img class="img-photo" src="assets/images/icon2.png"></button>
                              <button type="button" class="btn btn-link"><img class="img-photo" src="assets/images/icon1.png"></button>
                              </div>
                            <div class="card-body">
                              <img class="img-photo" src="assets/images/photo.PNG">
                            </div>
                          </div>
                        </div>
                       
                      </div>
                      <div class="back-next-btn">  
                        <button type="button" class="btn btn-cancel">{{'TITLE.CANCEL' | translate }}</button>                                  
                        <button type="button" class="btn btn-outline-white">{{'TITLE.BACK' | translate }}</button>
                        <button type="button" class="btn btn-info">{{'TITLE.CONTINUE' | translate }}</button>
                    </div>
                       
                </div>
            </div> -->





            <!-- Select your photos scan -->
            <!-- <div class="row">
              <div class="col mx-auto mt-2 text-center">

                   <h1 class="selphoto">{{'TITLE.SYP' | translate }}</h1>
                    <div class="row">

                      <div class="col-6">
                        <div class="card photo-card">
                          <div class="scan-qr">
                            <h3>{{'TITLE.SCAN-ME' | translate }}</h3>
                            <img class="scan-photo" src="assets/images/scan.png">
                             <p>{{'TITLE.TOWIEW' | translate }}</p>                                 
                             <button type="button" class="btn btn-outline-white-sm">{{'TITLE.CANCEL' | translate }}</button>
                          </div>
                          <div class="card-header">
                            <button type="button" class="btn btn-link"><input type="checkbox" class="" id="exampleCheck1"></button>
                            <button type="button" class="btn btn-link"><img class="img-photo" src="assets/images/icon4.png"></button>
                            <button type="button" class="btn btn-link"><img class="img-photo" src="assets/images/icon3.png"></button>
                            <button type="button" class="btn btn-link"><img class="img-photo" src="assets/images/icon2.png"></button>
                            <button type="button" class="btn btn-link"><img class="img-photo" src="assets/images/icon1.png"></button>
                            </div>
                          <div class="card-body">
                            <img class="img-photo" src="assets/images/photo.PNG">
                          </div>
                        </div>
                      </div>

                      <div class="col-6">
                        <div class="card photo-card">
                          <div class="card-header">
                            <button type="button" class="btn btn-link"><input type="checkbox" class="" id="exampleCheck1"></button>
                            <button type="button" class="btn btn-link"><img class="img-photo" src="assets/images/icon4.png"></button>
                            <button type="button" class="btn btn-link"><img class="img-photo" src="assets/images/icon3.png"></button>
                            <button type="button" class="btn btn-link"><img class="img-photo" src="assets/images/icon2.png"></button>
                            <button type="button" class="btn btn-link"><img class="img-photo" src="assets/images/icon1.png"></button>
                            </div>
                          <div class="card-body">
                            <img class="img-photo" src="assets/images/photo.PNG">
                          </div>
                        </div>
                      </div>

                      <div class="col-6">
                        <div class="card photo-card">
                          <div class="card-header">
                            <button type="button" class="btn btn-link"><input type="checkbox" class="" id="exampleCheck1"></button>
                            <button type="button" class="btn btn-link"><img class="img-photo" src="assets/images/icon4.png"></button>
                            <button type="button" class="btn btn-link"><img class="img-photo" src="assets/images/icon3.png"></button>
                            <button type="button" class="btn btn-link"><img class="img-photo" src="assets/images/icon2.png"></button>
                            <button type="button" class="btn btn-link"><img class="img-photo" src="assets/images/icon1.png"></button>
                            </div>
                          <div class="card-body">
                            <img class="img-photo" src="assets/images/photo.PNG">
                          </div>
                        </div>
                      </div>

                      <div class="col-6">
                        <div class="card photo-card">
                          <div class="card-header">
                            <button type="button" class="btn btn-link"><input type="checkbox" class="" id="exampleCheck1"></button>
                            <button type="button" class="btn btn-link"><img class="img-photo" src="assets/images/icon4.png"></button>
                            <button type="button" class="btn btn-link"><img class="img-photo" src="assets/images/icon3.png"></button>
                            <button type="button" class="btn btn-link"><img class="img-photo" src="assets/images/icon2.png"></button>
                            <button type="button" class="btn btn-link"><img class="img-photo" src="assets/images/icon1.png"></button>
                            </div>
                          <div class="card-body">
                            <img class="img-photo" src="assets/images/photo.PNG">
                          </div>
                        </div>
                      </div>
                     
                    </div>
                    <div class="back-next-btn">  
                      <button type="button" class="btn btn-cancel">{{'TITLE.CANCEL' | translate }}</button>                                  
                      <button type="button" class="btn btn-outline-white">{{'TITLE.BACK' | translate }}</button>
                      <button type="button" class="btn btn-info">{{'TITLE.CONTINUE' | translate }}</button>
                  </div>
                     
              </div>
          </div> -->




          <!-- Confirm your photos -->
          <!-- <div class="row">
            <div class="col mx-auto mt-2 text-center">

                 <h1 class="selphoto">{{'TITLE.CONFIRM-Y-PHOTO' | translate }}</h1>
                  <div class="row">

                   <div class="col-6">
                      <div class="card photo-card">
                        <div class="card-header">
                          <button type="button" class="btn btn-link"><input type="checkbox" class="" id="exampleCheck1"></button>
                          <button type="button" class="btn btn-link"><img class="img-photo" src="assets/images/icon4.png"></button>
                          <button type="button" class="btn btn-link"><img class="img-photo" src="assets/images/icon3.png"></button>
                          <button type="button" class="btn btn-link"><img class="img-photo" src="assets/images/icon2.png"></button>
                          <button type="button" class="btn btn-link"><img class="img-photo" src="assets/images/icon1.png"></button>
                          </div>
                        <div class="card-body">
                          <img class="img-photo" src="assets/images/photo.PNG">
                        </div>
                      </div>
                    </div>

                    <div class="col-6">
                      <div class="card photo-card">
                        <div class="card-header">
                          <button type="button" class="btn btn-link"><input type="checkbox" class="" id="exampleCheck1"></button>
                          <button type="button" class="btn btn-link"><img class="img-photo" src="assets/images/icon4.png"></button>
                          <button type="button" class="btn btn-link"><img class="img-photo" src="assets/images/icon3.png"></button>
                          <button type="button" class="btn btn-link"><img class="img-photo" src="assets/images/icon2.png"></button>
                          <button type="button" class="btn btn-link"><img class="img-photo" src="assets/images/icon1.png"></button>
                          </div>
                        <div class="card-body">
                          <img class="img-photo" src="assets/images/photo.PNG">
                        </div>
                      </div>
                    </div>


                    <div class="bookingcode">
                      {{'TITLE.TOTAL' | translate }}
                  </div>
                   
                  </div>
                  <div class="back-next-btn">  
                    <button type="button" class="btn btn-cancel">{{'TITLE.CANCEL' | translate }}</button>                                  
                    <button type="button" class="btn btn-outline-white">{{'TITLE.BACK' | translate }}</button>
                    <button type="button" class="btn btn-info">{{'TITLE.CONTINUE' | translate }}</button>
                </div>
                   
            </div>
        </div> -->






            



          <!-- Payment Method -->
          <!-- <div class="row">
              <div class="col mx-auto mt-5 text-center">
                  <div class="popup mx-auto">
                      <h2 class="whattodo">{{'TITLE.CONFIRM_PAC' | translate }}</h2>
                      <p class="heading2">{{'TITLE.SELECTP' | translate }}</p>
                      
                      <div class="four-box">
                          <button type="button" class="btn">
                              <img class="img-fluid" src="assets/images/bank-1.png">
                              {{'TITLE.NETS' | translate }}
                          </button>

                          <button type="button" class="btn">
                              <img class="img-fluid" src="assets/images/bank-2.png">
                              {{'TITLE.EZLINK' | translate }}
                          </button>

                          <button type="button" class="btn">
                              <img class="img-fluid" src="assets/images/bank-3.png">
                              {{'TITLE.VISA' | translate }}
                          </button>

                          <button type="button" class="btn">
                              <img class="img-fluid" src="assets/images/bank-4.png">
                              {{'TITLE.AMEX' | translate }}
                          </button>
                          
                      </div>
                      

                      <div class="">
                          <button  type="button" class="btn btn-outline-info">{{'TITLE.BACK' | translate }}</button>   
                      </div>
                  </div>
                  <button type="button" class="btn btn-cancel mx-auto mt-3">{{'TITLE.CANCEL' | translate }}</button>
              </div>
          </div> -->



          <!-- Complete payment -->
            <!-- <div class="row">
                <div class="col mx-auto mt-5 text-center">
                    <div class="popup mx-auto">
                        <h2 class="whattodo">{{'TITLE.COMPLETE-PAY' | translate }}</h2>
                        <p class="heading2">{{'TITLE.PLEASEFOLLOW' | translate }}</p>

                        <img class="img-fluid" src="assets/images/Complete_payment.gif"> 
                        
                    </div>
                </div>
            </div> -->




          <!-- Payment Success -->
            <!-- <div class="row">
                <div class="col mx-auto mt-5 text-center">
                    <div class="popup popup2 mx-auto">
                        <h2 class="whattodo">{{'TITLE.PAY-SUCC' | translate }}</h2>
                        <p class="heading3">{{'TITLE.SGD' | translate }}</p>

                        <img class="img-fluid" src="assets/images/paymentsuccess.gif"> 
                      </div>
                </div>
            </div> -->





           <!-- Payment failed -->
            <!-- <div class="row">
                <div class="col mx-auto mt-5 text-center">
                    <div class="popup mx-auto">
                        <h2 class="whattodo">{{'TITLE.PAY-FAILED' | translate }}</h2>
                        <p class="heading2">{{'TITLE.WEWERE' | translate }}</p>

                        <img class="img-fluid" src="assets/images/payment_failed.gif">
                        
                        <p class="scanner-text ">
                            {{'TITLE.PLEASECONT' | translate }}
                        </p>

                        
                        <div class="back-next-btn mt-3">                                    
                            <button type="button" class="btn btn-outline-info">{{'TITLE.BACK' | translate }}</button>
                            <button type="button" class="btn btn-info">{{'TITLE.TRY-AGAIN' | translate }}</button>
                        </div>
                    </div>
                    <button type="button" class="btn btn-cancel mx-auto mt-3">{{'TITLE.CANCEL' | translate }}</button>
                </div>
            </div> -->




            <!-- Printing… -->
              <!-- <div class="row">
                <div class="col mx-auto mt-5 text-center">
                    <div class="popup mx-auto">
                        <h2 class="whattodo">{{'TITLE.PRINTING' | translate }}</h2>
                        <img class="img-fluid" src="assets/images/printing.gif">                        
                        <p class="scanner-text ">
                            {{'TITLE.PLESEWAIT' | translate }}
                        </p>                       
                    </div>                   
                </div>
            </div> -->




            <!-- Aaaah -->
               <!-- <div class="row">
                <div class="col mx-auto mt-5 text-center">
                    <div class="popup mx-auto">
                        <h2 class="whattodo mb-0">{{'TITLE.AAAAHH' | translate }}</h2>
                        <h2 class="whattodo mb-2">{{'TITLE.SOMETHINGWANT' | translate }}</h2>
                        <p class="heading2">{{'TITLE.WEARE' | translate }}</p>

                        <img class="img-fluid" src="assets/images/aaaah.gif" width="150px">

                        <p class="scanner-text font-weight-bold">
                          {{'TITLE.PAPERJAM' | translate }}
                      </p>
                        <p class="scanner-text ">
                            {{'TITLE.PLEASESEEK' | translate }}
                        </p>

                        
                        <div class="back-next-btn mt-3">                                    
                            <button type="button" class="btn btn-outline-info">{{'TITLE.BACK' | translate }}</button>
                            <button type="button" class="btn btn-info">{{'TITLE.TRY-AGAIN' | translate }}</button>
                        </div>
                    </div>
                </div>
            </div> -->




            <!-- Printing Complete -->
            <!-- <div class="row">
              <div class="col mx-auto mt-5 text-center">
                  <div class="popup mx-auto">
                      <h2 class="whattodo">{{'TITLE.PRINTINGCOMP' | translate }}</h2>
                      <p class="heading2">{{'TITLE.THATSONE' | translate }}</p>
                      <img class="img-fluid" src="assets/images/complete.gif">                        
                      <p class="scanner-text ">
                          {{'TITLE.WEHOPE' | translate }}
                      </p>                       
                  </div>                   
              </div>
          </div> -->




          <!-- Scan Wristband -->
            <!-- <div class="row">
              <div class="col mx-auto mt-5 text-center">
                  <div class="popup mx-auto">
                      <h2 class="whattodo">{{'TITLE.SCANWRI' | translate }}</h2>
                      <p class="heading2">{{'TITLE.SCANYOUR' | translate }}</p>
                      <img class="img-fluid" src="assets/images/scan-wristband.jpg"> 

                      <div class="mt-5">
                        <button  type="button" class="btn btn-outline-info">{{'TITLE.BACK' | translate }}</button>   
                    </div>

                  </div>                   
              </div>
          </div> -->


          <!-- You’re good to go ! -->
          <div class="row">
            <div class="col mx-auto mt-5 text-center">
                <div class="popup mx-auto">
                    <h2 class="whattodo">{{'TITLE.YOURGOOD' | translate }}</h2>
                    <p class="heading2">{{'TITLE.YOUWRIST' | translate }}</p>
                    <img class="img-fluid" src="assets/images/youregood.gif">                        
                    <p class="scanner-text ">
                        {{'TITLE.STRAPYOUR' | translate }}
                    </p>                       
                </div>                   
            </div>
        </div>





      </div>
  </div>
</div>