/* .disableClick{
  cursor: not-allowed;
  pointer-events: none;

} */

.whattodo {
  font-size: 6vw !important;
  margin-bottom: 10vw !important;
  margin-top: 3vw;
  }


  /* --- 150% ----- */
@media (max-width:768px){
  .whattodo{
      margin-bottom: 8vw !important;
      margin-top: 2vw;
  }

  .width-50 {
      width: 68%;
  }
}



/* --- 125% ----- */
@media (min-width:768px) and  (max-width:991px){

}


/* --- 100% ----- */
@media (min-width:992px){

}
